@tailwind base;
@tailwind components;
@tailwind utilities;

th, td {
    font-size: 14px !important;
}

button, a {
    font-size: 0.875rem !important;
}

[role="navigation"] > span {
    background-color: #273446;
    color: #949ca8;
}

.icon-table {
    width: 32px;
    height: 32px;
    padding: 6px;
}
